*{
    padding: 0;
    margin: 0;
}
.register{
    display: flex;
    justify-content: center;
   margin-top: 25vh;
   /* background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltfGVufDB8fDB8fA%3D%3D&w=1000&q=80 );
   background-image: ; */
}
.form{
    display: flex;
    flex-direction: column;
    border: 0.5px solid black ;
    padding: 10px;
    font-family: 'Lora', serif;
}
.button{
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background-color: teal;
    color: rgb(248, 167, 167);
    align-items: center;
}