*{
    padding: 0;
    margin: 0;  
}
.center{
    
    max-width: 90vw; 
    height: 85vh;
    display: flex;
    
   
    margin: auto;
    border: 1px solid bisque;
    background-color: rgb(230, 224, 224);
    border-radius: 20px;
    
}
.content{
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: scroll;
   scroll-behavior: auto;
}

.chatButtom{
    display: flex;
    justify-content: space-between;
}

.input{
    width: 83vw;
    border-radius: 5px; 
}
#button{
    cursor: pointer;
    color: teal;
    margin: auto;
   
}

#button:hover{
    color:rgb(124, 250, 250);  
} 