.register{

  display:flex;
  height: calc(100vh - 110px);
  background-color: rgb(24, 34, 34);
}
  .input-box{
    display: flex;
    border: 1px solid rgb(177, 154, 154);
    width: 100%;
    
    height: 50px;
    margin: 10px 0px 10px 0px;
  }
  .input-box i{
    margin: 20px 10px 0px 20px;
  }
  .input-box input{
    width: 100%;
  }
  .input-box input:focus{
    outline: none;
  }
  
  #form{

  width: 320px;
  border: 1px solid rgb(252, 247, 237) ;
  background-color: rgb(253, 246, 246);
  padding: 10px;
  margin: auto;
  }
  
  #form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  }
  
  #form > input:focus{
  outline: none;
  }
  
  #form > .btn{
  background-color: #48024e;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  }
  form span{
    margin-bottom: 20px;
  }
  .flex{
  display: flex;

  }
  .flex-col{
  flex-direction: column;
  }
.button input{
      background-color: #137ae0;
  }
.col-1{
  margin: auto;
  text-align: center;
  flex: 4;
 
  }
  .col-1 h2 ,span{
    font-family: 'Lora', serif;
  }
  .col-2{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: xx-large;
    margin: auto;
    flex: 3;
  }
  .col-2 #h1{
    color: rgb(139, 139, 2);
  }

  .col-2 #h2{
    color: rgb(175, 167, 167);
  }
  .col-1 label{
    cursor: pointer;
  }
  .col-2 h2{
    margin-top: 10px;
  }
  .image{
    width: 150px;
    height: 150px;
    margin: auto;
  }
  @media screen and (max-width: 760px)  {
    .register{
      display: flex;
      flex-direction: column;
    }
    .col-1{
      /* background-color: red; */
      width: 100%;
      flex: 0;
    }
    .col-2{
      /* background-color: blue; */
      font-size:x-large;
      width: 100%;
      flex: 0;
    }
    #form{
      /* max-width: 320px; */
      width: 320px;
      border: 1px solid ;
      /* margin: 2em auto; */
      /* padding: 10px; */
      margin: auto;
      height: 100%;
      }
      .image{
        width: 100px;
        height: 100px;
        margin: auto;
      }
      .input-box{
        display: flex;
        border: 1px solid rgb(177, 154, 154);
        width: 100%;
        height: 40px;
        margin: 5px 0px 5px 0px;
      }
      .input-box i{
        margin: 20px 10px 0px 20px;
      }
  }