.main{
      height: calc(100vh - 110px);
      background-color: rgb(24, 34, 34);
      font-family: 'Syne Mono', monospace;
}
.main h1{
      color: rgb(161, 163, 10);
      font-size: xx-large;
      text-align: center;
      padding-top: 30vh;
}

.main h2{
      color: rgb(16, 57, 240);
      font-size: x-large;
      text-align: center;
      padding-bottom: 10px;
}

.main p{
      color: rgb(241, 243, 248);
      /* font-size: x-large; */
      text-align: center;
}